*{
    margin: 0x;
    padding: 0px;
}
body
{
    background-color: lightblue;
}
.header h1
{
    margin-left: 50vh;
    font-family: 'Belanosima', sans-serif;

}
.container
{
    display: flex;
}
.container .text_box
{
    margin-top: 50px;
    height: 500px;
    width: 50%;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.functions
{
    display: flex;
    flex-direction: row;
}
.functions div{
    position: relative;
    left: 420px;
}
.ec
{
    display: flex;
    flex-direction: column;
    
}
.btn
{
    margin-top: 10px;
    height: 30px;
    width: 100px;
    border-radius: 30px;
    background-color: aquamarine;
}
#uploadfile::file-selector-button{
    margin-top: 10px;
    margin-left: 10px;
    
    border-radius: 30px;
    background-color: palegoldenrod;
}


